<script>
import { BUTTON_THEMES } from '../constants'

export default {
	name: 'AppButton',
	props: {
		theme: {
			default: 'default',
			validator: (value) => {
				return ['default', 'success', 'danger'].includes(value)
			}
		}
	},
	computed: {
		buttonClasses() {
			return BUTTON_THEMES[this.theme] || ''
		}
	}
}
</script>

<template>
	<button @click="$emit('click')" :class="`rounded-md px-4 py-1 text-xl ${this.buttonClasses}`">
		<slot></slot>
	</button>
</template>
