<script>
export default {
	name: 'FactCard',
	props: {
		title: {
			type: String,
			required: true
		}
	}
}
</script>

<template>
	<div
		class="fact-card rounded-md bg-zinc-50 px-5 py-4 text-zinc-900 w-96 text-lg font-medium"
		v-html="title"
	></div>
</template>

<style scoped>
.fact-card {
	text-wrap: balance;
}
</style>
