<script>
import FactCard from './FactCard.vue'
import AppButton from './AppButton.vue'
import { getRandomFact } from '../api/index'
import ResultCard from './ResultCard.vue'
import { STATES } from '../constants'
import Timer from './Timer.vue'

export default {
	name: 'NorrisGame',
	components: {
		FactCard,
		AppButton,
		ResultCard,
		Timer
	},
	data() {
		return {
			currentFact: '',
			factLoading: true,
			answerValid: false,
			currentState: STATES.LOADING,
			score: 0
		}
	},
	created() {
		this.STATES = STATES
	},
	mounted() {
		this.updateFact()
	},
	methods: {
		handleAnswer(answer) {
			this.answerValid = this.checkAnswerValidity(answer)

			if (this.answerValid) {
				this.score += 1
			}

			this.currentState = STATES.RESULT
		},

		checkAnswerValidity(answer) {
			return this.currentFact.length % 2 === 0 ? answer : !answer
		},

		async updateFact() {
			this.currentState = STATES.LOADING
			this.currentFact = await getRandomFact()
			this.currentState = STATES.ANSWERING
		}
	}
}
</script>

<template>
	<div class="flex justify-center items-center">
		<div v-if="currentState === STATES.ANSWERING" class="flex items-center gap-x-6">
			<AppButton @click="() => handleAnswer(false)" theme="danger">False</AppButton>

			<div class="-mt-6">
				<div class="flex justify-between items-center mb-2">
					<p>Score: {{ score }}</p>

					<Timer @timeout="updateFact"></Timer>
				</div>

				<fact-card :title="currentFact"></fact-card>
			</div>

			<AppButton @click="() => handleAnswer(true)" theme="success">True</AppButton>
		</div>

		<p v-else-if="currentState === STATES.LOADING">Loading next fact</p>

		<ResultCard
			v-else-if="currentState === STATES.RESULT"
			:is-correct="answerValid"
			@load-next="updateFact"
		></ResultCard>
	</div>
</template>
