<script>
import AppButton from './AppButton.vue'

export default {
	name: 'ResultCard',
	props: {
		isCorrect: {
			type: Boolean,
			required: true
		}
	},
	components: { AppButton }
}
</script>

<template>
	<div>
		<p class="mb-4">
			{{ isCorrect ? 'Correct answer' : 'Incorrect answer' }}
		</p>

		<AppButton @click="() => $emit('load-next')">Load next</AppButton>
	</div>
</template>
