<script>
export default {
	name: 'NorrisTimer',
	data() {
		return {
			timeLeft: 15,
			intervalId: null
		}
	},
	watch: {
		timeLeft(newValue) {
			if (newValue <= 0) {
				this.$emit('timeout')
			}
		}
	},
	mounted() {
		this.intervalId = setInterval(() => {
			this.timeLeft -= 1
		}, 1000)
	},
	destroyed() {
		clearInterval(this.intervalId)
	}
}
</script>

<template>
	<div :class="{ 'text-red-400': timeLeft <= 5 }">{{ timeLeft }} seconds left</div>
</template>
