<script>
import Game from './components/Game.vue'

export default {
	name: 'App',
	components: {
		Game
	}
}
</script>
<template>
	<div id="app" class="w-full h-full flex flex-col justify-center">
		<h1 class="absolute top-10 left-1/2 -translate-x-1/2 text-4xl font-bold">
			Twitter fact checker simulator
		</h1>
		<Game></Game>
	</div>
</template>
